html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    overscroll-behavior-y: none;
    /*background-size: cover;*/
    /*overflow: hidden;*/
    padding-bottom: 3rem;
    min-height: 100%;
    font-size: 14px;
}

html, body {
    color: hsl(0, 0%, 90%);
    background: linear-gradient(to right, rgb(29, 78, 144) 50%, rgb(12, 57, 87) 50%);
    font-family: "Helvetica Neue", Arial, sans-serif;
}

h1 {
    font-size: 1.8rem;
    font-weight: normal;
}

h2 {
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 5px;
}

h3 {
    font-weight: normal;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 5px;
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid hsl(0, 0%, 90%);
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    /*color: hsl(215, 60%, 75%);*/
}

a:hover {
    color: hsl(215, 60%, 75%);
    /*text-decoration: underline;*/
    /*color: hsl(215, 60%, 75%);*/
    /*color: hsl(0, 0%, 100%);*/
}

nav {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 10, 30);
}

#nav-title {
    margin: 0;
    font-size: 16px;       
}

#nav-title a {
    font-weight: 400;  
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 10, 30);
}

footer:hover {
    opacity: 1;
}

footer h1 {
    font-size: 12px;
}

footer a {
    font-weight: normal;
}



/*-------*/
/* TABS */
.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    user-select: none;
}

.tabs ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
}

.tabs ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
}

.tabs ul li:hover {
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0px 1px 0px 0px hsl(0, 0%, 100%);
    -moz-box-shadow: 0px 1px 0px 0px hsl(0, 0%, 100%);
    box-shadow: 0px 1px 0px 0px hsl(0, 0%, 100%);
}

.active {
     color: hsl(0, 0%, 100%);
    -webkit-box-shadow: 0px 1px 0px 0px hsl(0, 0%, 100%);
    -moz-box-shadow: 0px 1px 0px 0px hsl(0, 0%, 100%);
    box-shadow: 0px 1px 0px 0px hsl(0, 0%, 100%);   
}



/*-------------------*/
/* CONTENT-CONTAINER */
.container {
    margin: 0 auto;
    padding: 50px;
    padding-top: 0px;
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 800px) {
    .container {
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.content {
    margin-top: 50px;
}

#content-about,
#content-gift {
    display: none;
}



/*--------------*/
/* CONTENT-ABOUT */
#content-about {
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    padding: 20px;
}

#he-logo {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

#image-container div {
    padding: 30px;
    padding-bottom: 0px;
}

#image-container p {
    text-align: center;
}

.responsive-image {
    width: 100%;
}

#img-caesar {
    margin: 0 auto;
    width: 40%;
}

@media (max-width: 800px) {
    #img-caesar {
        width: 80%;
    }
}

.content-about-center {
    margin-top: 50px;
    text-align: center;
}

#chrome-extension {
    position: absolute;
    bototm: 0;
}



/*-------------------*/
/* CONTENT-CONVERSION */
#content-conversion-time {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 620px) {
    #content-conversion-time {
        display: block;
        flex-direction: column;
        flex-wrap: auto;
    }
    
    #conversion-left {
        margin: 0 auto;
        display: block !important;
        text-align: center !important;
        width: 100% !important;
    }

    #conversion-center {
        margin: 0 auto !important;
        display: block !important;

    }

    #conversion-right {
        display: block !important;
        text-align: center  !important;
        width: 100% !important;
    }
}

#conversion-left {
    text-align: right;
    width: 400px;
}

#conversion-center {
    margin-left: 50px;
    margin-right: 50px;
    width: 100px;
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
}

#conversion-right {
    text-align: left;
    width: 400px;
}

#year-text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.year-input {
    /*margin-top: 27px;*/
    width: 150px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    outline: none;
}

#year-entry {
    background-color: hsl(215, 80%, 20%);
    border: 2px solid hsl(215, 80%, 20%);
    /*color: hsl(0, 0%, 90%);*/
    color: hsl(215, 60%, 75%);
}

#period {
    /*margin-top: 10px;*/
}

#is {
    /*margin: 5px;*/
    font-size: 20px;
}

#he-year {
    /*margin-top: 8px;*/
    color: hsl(215, 60%, 75%);
    /*color: hsl(215, 80%, 20%);*/
    background-color: hsl(215, 80%, 20%);
    border: 2px solid hsl(215, 80%, 20%);
/*    background-color: hsl(215, 60%, 75%);
    border: 2px solid hsl(215, 60%, 75%);*/
    font-size: 20px;
}

.period-select {
    /*margin-left: 10px;*/
    position: relative;
    width: 30px;
    user-select: none;
    /*background-color: hsl(215, 80%, 20%);*/
    /*padding: 3px;*/
}

.active-period-select {
    background-color: hsl(215, 80%, 20%);
}

.period-select-text {
    position: absolute;
    cursor: pointer;
    top: 3px;
    left: 8px;
    /*margin-left: 5px;*/
    margin-right: 15px;
    font-size: 10px;
}

input[type="radio"] {
    opacity: 0;
}

#period-select-BC {
    margin-bottom: 6px;
}

#period-select-AD {
    margin-top: 7px;
}

#content-conversion-facts {
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    padding: 20px;
}

#content-conversion-facts h1 {
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 24px;
}

#content-conversion-facts h2 {
    font-size: 22px;
}

#content-conversion-facts h3 {
    font-size: 20px;
}

.content-conversion-facts-title {
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    color: white;
}

.content-conversion-facts-title:hover {
    color: hsl(215, 60%, 75%);    
}



/*--------------*/
/* CONTENT-GIFT */
#content-gift {
    text-align: center;
    font-size: 18px;
}

.gift-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gift-card {
    min-width: 300px;
    width: 300px;
    height: 200px;
    margin: 30px;
    padding: 30px;
    background-color: hsl(215, 80%, 20%);
    overflow-wrap: break-word;
}

.gift-card p {
    margin-bottom: 30px;
}

#gift-crypto-expand {
    cursor: pointer;
    user-select: none;
    color: hsl(0, 0%, 100%);
}

#gift-crypto-expand:hover {
    color: hsl(215, 60%, 75%);    
}

#gift-card-drawer {
    display: none;
}

#btc-address,
#eth-address,
#bch-address {
    color: hsl(0, 0%, 100%);  
    font-weight: bold;  
    cursor: pointer;
}

#btc-address:hover,
#eth-address:hover,
#bch-address:hover {
    color: hsl(215, 60%, 75%);
}

.address-copy {
    user-select: none;
}
