/* GENERAL */

body {
    padding:0px;
    margin:0px;
    width:220px;
    height:80px;
    color:white;
    background: linear-gradient(to right, rgb(29, 78, 144) 50%, rgb(12, 57, 87) 50%);
}

h1 {
    font-size: 14px;
    font-weight: 400;
}

#extTitle {
    text-align:center;
    padding:0;
    margin:15px 0px;
}

#form {
    text-align:center;
    margin: 15px 0px;

}

#on {
    margin-bottom: 10px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
